/* mise en forme de la page d'accueil */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0%;
    white-space: nowrap;
}
.lienCliquable {
    text-decoration: none;
}
.ville {
    color: #901C1C;
    font-size: 20px;
    margin: 0%;
}
.tagline {
    color: black;
    font-size: 16px;
    margin: 0%;
}
.prix {
    font-size: 14px;
    color: black;
    margin: 0%;
    font-weight: 900;
}
.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}