.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nomPhotographe h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0%;
    white-space: nowrap;
}
.villePhotographe p {
    color: #901C1C;
    font-size: 20px;
    margin: 0%;
}
.taglinePhotographe p {
    color: black;
    font-size: 16px;
    margin: 0%;
}
.photo_profil_info_photographe {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.medias {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center top;
    transform: translateY(0px) scale(1);
    transition: all 0.25s ease;
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}
.cardMedia {
    cursor: pointer;
}
.cardMedia :hover{
    transform: scale(1.1);
}
article {
    margin-bottom: 2%;
}
.footerMedias {
    margin-top: 5%;
}
#gallery {
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
/***********************FORMULAIRE DE CONTACT***************************/
#contact_modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 130px;
    top: 0;
}

#titreModalContact {
    font-size: 50px;
}

#message {
    resize: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input , form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/****************************LIGHTBOX*************/
.modal_lightbox {
    display: none;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0;
}
#template_lightbox {
    display: flex;
    position: fixed;
    width: 90%;
    align-items: center;
    padding: 5%;
}
#mediaContainerZone {
    width: 100%;
}
.containerMedia {
    display: flex;
    justify-content: center;
}
#mediaLightbox {
    display: flex;
    justify-content: center; 
}
#mediaLightbox img {
    width: 80%;
}
#infoMediaLightbox {
    position: relative;
    left: 10%;
}
#closeLightbox img {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.arrow {
    cursor: pointer;
    width: 3%;
}
.arrow.prev {
    left: 0px;
}
.arrow.next {
    right: 0px;
}