.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #D3573C;
    color: black;
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nomPhotographe h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0%;
    white-space: nowrap;
}
.villePhotographe p {
    color: #901C1C;
    font-size: 20px;
    margin: 0%;
}
.taglinePhotographe p {
    color: black;
    font-size: 16px;
    margin: 0%;
}
.photo_profil_info_photographe {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.medias {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center top;
    transform: translateY(0px) scale(1);
    transition: all 0.25s ease;
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}
.cardMedia {
    cursor: pointer;
}
.cardMedia :hover{
    transform: scale(1.1);
}
article {
    margin-bottom: 2%;
}
.footerMedias {
    margin-top: 5%;
}
#gallery {
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.encart {
    position: fixed;
    z-index: 0,5;
    bottom: 0px;
    right: 60px;
    border-radius: 5px 5px 0px 0px;
    background-color: #D3573C;
    width: 300px;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.encart span {
    font-size: 27px;
    font-weight: bold;
    margin-top: 5%;
}
/*****************************likes**************************************/
.footerMedias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.likeZone {
    display: flex;
    align-items: center;
}

.heartZone {
    width: 25px;
    height: 20px;
}

.likeLabel {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"], .likeLabel .checked {
    color: red;
}
input[type="checkbox"]:checked ~ .unchecked {
    color: blue;
}

/***********************FORMULAIRE DE CONTACT***************************/
#contact_modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 250%;
    background-color: rgba(250, 250, 250, 0.7);
    z-index: 1;
    left: 0;
    top: 0;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 11px;
    margin: auto;
    margin-top: 2%;
    box-shadow: 13px 15px 5px #00000040;;
}
.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10%;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
    width: 35px;
    padding-top: 2%;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: start;
    margin-top: 0%;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input , form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    resize: none;
    height: 200px;
}

.text_control.error {
    border: 2px solid #e54858;
}

/****************************LIGHTBOX*************/
.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0;
}
#template_lightbox {
    display: flex;
    position: fixed;
    width: 90%;
    align-items: center;
    padding: 5%;
    padding-top: 3%;
    justify-content: center;
    gap: 2%;

}
#mediaContainerZone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerMedia {
    display: flex;
    justify-content: center;
}
#mediaLightbox {
    display: flex;
    justify-content: center; 
}
#mediaLightbox img {
    max-height: 700px;
    border-radius: 2%
}
#mediaLightbox video {
    width: 100%;
    border-radius: 2%
}
#closeLightbox img {
    position: fixed;
    top: 20px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.arrow {
    cursor: pointer;
    width: 3%;
}
.arrow.prev {
    left: 0px;
}
.arrow.next {
    right: 0px;
}
